{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "components": "./components",
                    "forms": "./components/forms",
					"general": "./components/general"
                }
            }
        ]
    ]
}